In [8]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'key':['a','b','c']*4,
                'value':np.arange(12.)})

In [9]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [10]:
g=df.groupby('key')

In [14]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [12]:
g=df.groupby('key').value

In [15]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [16]:
g.transform('mean')

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [17]:
def normalize(x):
    return (x-x.mean()/x.std())

In [18]:
g.transform(normalize)

0    -1.161895
1    -0.420094
2     0.321707
3     1.838105
4     2.579906
5     3.321707
6     4.838105
7     5.579906
8     6.321707
9     7.838105
10    8.579906
11    9.321707
Name: value, dtype: float64

In [19]:
g.apply(normalize)

0    -1.161895
1    -0.420094
2     0.321707
3     1.838105
4     2.579906
5     3.321707
6     4.838105
7     5.579906
8     6.321707
9     7.838105
10    8.579906
11    9.321707
Name: value, dtype: float64